body {
    font-size: .8rem;
    overflow-x: auto;
}
#app-wrapper .tab-content.main-app {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#login-card {
    margin: 0 auto;
    max-width: 768px;
}
#loader {
    position: fixed;
    z-index: 999;
    background: #fff;
    opacity: .75;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#loader .loading-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% - 2.5rem);
    transform: inherit translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
}
.card-header.nav {
    padding: .2rem .25rem 0;
}
.pagination {
    padding-right: 15px;
}
.modal-no-border .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
.modal-no-border .modal-footer {
    border-top: none;
    padding-top: 0;
}
@media screen and (max-width: 767px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .mobile-fullscreen .modal-dialog {
        margin: 0;
    }
    .mobile-fullscreen .modal-content {
        border-radius: 0;
    }
}
