#login-card {
    margin: 0 auto;
    max-width: 768px;
}
#loader {
    position: fixed;
    z-index: 999;
    background: #fff;
    opacity: .75;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#loader .loading-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: inherit translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
}
.card-header.nav {
    padding: .2rem .25rem 0;
}
