body {
    font-size: .8rem;
    overflow-x: auto;
}
#login-card {
    margin: 0 auto;
    max-width: 768px;
}
#loader {
    position: fixed;
    z-index: 999;
    background: #fff;
    opacity: .75;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#loader .loading-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: inherit translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
}
#preview-frame-desktop {
    z-index: 1000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 5px;
}
#preview-frame-desktop img {
    height: auto;
    width: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
#preview-frame-mobile img {
    height: auto;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
}
.workout-modal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
.workout-modal .modal-footer {
    border-top: none;
    padding-top: 0;
}
.card-header.nav {
    padding: .2rem .25rem 0;
}
.pagination {
    padding-right: 15px;
}
.img-muscles {
    padding: 0 25px 25px 25px;
}
.workout-table {
    width: unset;
    margin: auto;
}
.preview-btn {
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .5;
}
.preview-btn:disabled {
    opacity: .1;
}
.workout-name:hover {
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .col, .col-auto, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
    .col-lg, .col-lg-auto, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
    .col-md, .col-md-auto, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-sm, .col-sm-auto, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
    .col-xl, .col-xl-auto, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9,
    .card-body,
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .img-muscles {
        padding-top: 25px;
    }
    .mobile-fullscreen .modal-dialog {
        margin: 0;
    }
    .mobile-fullscreen .modal-content {
        border-radius: 0;
    }
}
